@import "../utilidades/variables";
/*Comienza Informacion*/

    #presupuesto{
        height: 100vh;
        background: $background-universal-b;
        color: $color-tipografia-w;
    }
    .Encargo-demora-bk{
        float: left;
        width: 50%;
        background: url(../Img/img-comprar.jpg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        height: 100vh;
    }
    
    .text{
        float:left;
        width: 50%;
        padding: 50px; 
        h3{
       text-align: center;
       padding-top: 180px;
       padding-bottom: 20px;
    }
    }
    
     
    
    #pagos{
        height: 100vh;
    }
    
    .text-titulo{
        float: left;
        width: 50%;
        background: $background-universal-b;
        color: $color-tipografia-w;
        height: 100vh;
        text-align: center;
       
    }
    
    .work-title h4{
        padding-top: 160px;
    }
    
    .pago-text{
        background: $background-universal-b;
        color: $color-tipografia-w;
        float: right;
    }
    
    
    #informacion-de-envios{
        height: 100vh;
    }
    
    .text-informacion{
        float: left;
        width: 50%;
        background: $background-universal-w;
        color: $color-tipografia;
        text-align: center;
        height: 100vh;
    }
    .info-text{
        background: $background-universal-w;
        color: $color-tipografia-w;
        float: right; 
    }
    
    
@import "_mq-tablet.scss";
@import "_mq-desktop.scss";
@import "_mq-mobie.scss";