@import "../utilidades/variables";

//nesting
/*Comienza stock*/
  img{
    width: 100%;
    height: 100%;
  }

  #producto-stock{
    height: 100vh;
    background: $background-universal-w;
}
.imagen-stock-1{
    float: left;
    width: 100%;
    background: $background-universal-w;
    height: 100%;
    text-align: center;
    padding: 200px 160px;
}
#productos-stock2{
    height: 100vh;
    background: $background-universal-b;
}
.imagen-stock-2{
    float: left;
    width: 100%;
    background: $background-universal-b;
    color: $color-tipografia-w;
    height: 50%;
    padding: 200px 160px;
}

#productos-stock3{
    height: 100vh;
    background: $background-universal-b;
}

#productos-stock3{
    height: 100vh;
    background: $background-universal-b;
}
.imagen-stock-3{
    float: left;
    width: 100%;
    background: $background-universal-b;
    color: $color-tipografia-w;
    height: 100vh;
    padding: 200px 160px;
}

.imagen-stock-4{
    float: left;
    width: 100%;
    background: $background-universal-w;
    height: 100vh;
    padding: 100px 160px;
}


@import "_mq-tablet.scss";
@import "_mq-desktop.scss";
@import "_mq-mobie.scss";