@import "../utilidades/variables";

//nesting
/*Comienza stock*/
  img{
    width: 100%;
    height: 100%;
  }

  #producto{
    height: 100vh;
  }  

.imagen-1{
  background: url(../Img/img-s-mesa-resina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  float: left;
  width: 50%;
  background: white;
  padding: 95px;
}


.imagen-2{
background: url(../Img/img-s-bancos.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
float: right;
width: 50%;
padding: 95px;
background: black;
color: white;
}

.imagen-3{
  background: url(../Img/img-rack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  float: right;
  width: 50%;
  padding: 95px;
  background: white;
  color: black;
  }

  .imagen-4{
    background: url(../Img/img-s-mesa.ratona-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    float: right;
    width: 50%;
    padding: 95px;
    background:black ;
    color: white;
    }

.parrafo{
  align-items: center;
  text-align: center
  
}
@import "_mq-tablet.scss";
@import "_mq-desktop.scss";
@import "_mq-mobile.scss";