//paleta de colores 

$color-footer:rgb(193, 199, 203);
$color-tipografia: black;
$color-tipografia-w: white;
$background-universal-b: black;
$background-universal-w: white;
$background-footer: black;
$background-boton: #b88b5c;
$background-btn: black;
$color-btn: blanchedalmond;


//medidas principales

$medida-img: 100%;




